
.boton{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    flex: 1;
    margin: 10px;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
    border: 1px solid white;
    font-size: 2rem;
    color: rgb(5, 31, 47);
    font-weight: bold;
}

.operacion{
    background-color: rgb(169, 128, 6);
}

.operacion:hover{
    background-color: rgb(20, 121, 121);
}
.numero{
    background-color: rgb(15, 95, 175);
}
.numero:hover{
    background-color: blueviolet;
}